PidFile="{{ agent_pid_file }}"
LogFile="{{ agent_log_file }}"
ControlSocket="{{ agent_sock_file }}"

DebugLevel="{{ agent_log_level }}"
LogFileSize="{{ agent_log_size }}"

Server="{{ zabbix_address }}"
ServerActive="{{ zabbix_address }}"

ListenPort="{{ agent_port }}"
ListenIP="{{ agent_address }}"
Hostname="{{ agent_hostname }}"

Include=/etc/zabbix/zabbix_agent2.d/*.conf
Include=/etc/zabbix/zabbix_agent2.d/plugins.d/*.conf