deb https://repo.zabbix.com/zabbix/{{ zabbix_version }}/{{ debian_type }} {{ debian_version }} main
deb-src https://repo.zabbix.com/zabbix/{{ zabbix_version }}/{{ debian_type }} {{ debian_version }} main